<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203885756161-hahldrjbsktocttph2ico77fm541eb6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203885756161-hahldrjbsktocttph2ico77fm541eb6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>203885756161-gukn7eb38topdqqaa0ir0k134stcbb6f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtgvy2tBZfR4SqlUkdpLHMgigJupT1Guw</string>
	<key>GCM_SENDER_ID</key>
	<string>203885756161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kzn.myachoo</string>
	<key>PROJECT_ID</key>
	<string>mya-choo-footwear</string>
	<key>STORAGE_BUCKET</key>
	<string>mya-choo-footwear.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203885756161:ios:e81fdfce6a985174a02500</string>
</dict>
</plist>