<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264830722631-d3d65df5dnd9n1s11ncc1jvcr9689kl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264830722631-d3d65df5dnd9n1s11ncc1jvcr9689kl9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264830722631-c0fsdiv7r56974uhba85dm995hsn45no.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6zz6gZKBq9h5SlKDS6OQ6U9cYM8tTGjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>264830722631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kzn.wutthmone</string>
	<key>PROJECT_ID</key>
	<string>wutt-hmone</string>
	<key>STORAGE_BUCKET</key>
	<string>wutt-hmone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264830722631:ios:48549e1d40f6eeac534762</string>
</dict>
</plist>